@import "bootstrap-sprockets";
@import "bootstrap";


.container{
    max-width: 75%;
}
.main-menu{
    background-color: mediumaquamarine;
    display: flex;
    justify-content: space-between;
    div a{
        color: black;
        font-size: 2rem;
        margin: 1rem;

    }
}